# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
*.pot
*.pyc
local_settings.py
staticfiles/
static_root/
.env
.env.*

# pip environments
*.venv/
venv/
ENV/
env/
env.bak/

# Testing
.coverage
htmlcov/
.tox/
.pytest_cache/
.nox/

# Mypy, Pyright, Pyre
.mypy_cache/
.dmypy.json
.pyre/
.pyright/

# Jupyter
.ipynb_checkpoints/

# VSCode / IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
Thumbs.db
desktop.ini

# Build
build/
